* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 2100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .container_header {  
    height: 40px;
 }

 .container_footer {
    height: 35px;
    align-items: flex-end;
    border-top: 1px solid beige;
 }

.container_main {
    height: 150px;
}

.container_main2 {
    height: 300px;
}

.display_flex{
    display: flex;
    justify-content: center;
    align-items: center;

}

.back_header{
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-img1 {
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.color_white{
    color: white;
}

.color_back {
    color: black;
}

.font-size_15{
    font-size: 10px;
}
.font-size_10{
    font-size: 8px;
    text-align: center;
}

.text-align_center{
    text-align: center;
}

.row_header {
    width: 80%;
    height: 70%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;  
}

.row_main {
    width: 60%;
}

#row_main2 {
    height: 95%;
    width: 60%;
}

#row_footer {
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 60%;
}
.bg_sky {
    background-color: aqua;
}

.bg_yellow {
    background-color: yellow;
}

.logo_discord {
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.button_header {
    background-color: white;
    border-radius: 12px;
    font-size: 8px;
    font-weight: 600;
    padding: 6px;

}

.text-align_right {
    text-align: right;
}

.bg_blue {
    background-color: blue;
}

.bg_darkpink {
    background-color: palevioletred;
}

.bg_white {
    background-color: white;
}
.bg_pink {
    background-color: pink;
}

.bg_green {
    background-color: green;
}

.bg_grey {
    background-color: grey;
}

.bg_black {
    background-color: black;
}

.col20 {
    width: 20%;
}

.col25 {
    width: calc(25%);

}

.col50 {
    width: calc(50%);   
}

.col66 {
    width: 66%;
    border: 1px dotted black;
}

.col33 {
    width: calc(100% / 3) ;
    border: 1px dotted black;
}

.col100 {
    width: 100%;
    border: 1px dotted black;
}

.col18 {
    width: 18%;
    border: 1px dotted black;
}

.col28 {
    width: 28%;
    border: 1px dotted black;
}

.col_footer {
    height: 50%;
    width: 5%;
    border: 1px dotted black;
}

.text {
    font-size: 8px;
    text-align: center;
    font-weight: bolder;
}